@charset "UTF-8";
body{background-image: linear-gradient(to bottom, #0D0D0D, #038C33, #5DA676);}
.top-inner{color: rgba(255, 255, 255, 0.744);}
a{color:rgba(251, 251, 251, 0.744) ;}
.header-inner{color: rgba(255, 255, 255, 0.744);}
