@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@font-face{ font-family: 'Geometr';
    src: url('fontes/geometr212-bkcn-bt-book.ttf'), format('true type'); font-weight: normal; font-style: normal;}
    :root{
        --font0: Tahoma, Geneva, Verdana, sans-serif;
        --font1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        --font2: "Fugaz One", sans-serif;
        --font3: "Geometr", sans-serif;

        --cor0: #096b2f;
        --cor1: #a4c67e;
        --cor2: #000000;
    }
*{
    margin: 0;
    padding: 0;
    list-style: none;
    
}
a{
    text-decoration: none;
}

header{
    text-align: center;
    justify-content:center;
    background-image: linear-gradient(to top, #096b2f, #a4c67e);
    font-family: var(--font0);
}
.menu{
    display: flex;
    background-image: linear-gradient(to top, #a4c67e, #096b2f);
    color: var(--cor2);
    font-family: var(--font2);
}
.menu li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}
.menu li:hover{
    background-color: #a4c67e;
    border-radius: 10px;
    text-decoration: underline;
}
.container{
    background-image: linear-gradient(72deg, #a4c67e 1%, #096b2f 99%);
    display: flex;
    flex-direction: column;
    height: 120vh;
}
.container main{
    flex: 1;
}
input{
    display: none;
}
.content{
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #096b2f;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background-color: #a4c67e;
}
.slides{
    display: flex;
    width: 900%;
    height: 100%;
}
.slide{
    width: 12%;
    transition: 0.6s;

}
.slide img{
    width: 100%;
    height: 100%;
}
#slide1:checked~.s1{
    margin-left: 0;
}
#slide2:checked~.s1{
    margin-left: -12%;
}
#slide3:checked~.s1{
    margin-left: -24%;
}
#slide4:checked~.s1{
    margin-left: -36%;
}
#slide5:checked~.s1{
    margin-left: -48%;
}
#slide6:checked~.s1{
    margin-left: -60%;
}
#slide7:checked~.s1{
    margin-left: -72%;
}
#slide8:checked~.s1{
    margin-left: -84%;
}
#slide9:checked~.s1{
    margin-left: -96%;
}
footer{
    background-image: linear-gradient(to top, #a4c67e, #096b2f);
    text-align: center;
    font-family: var(--font1);
    font-size: 12px;
}
footer a{
    color: var(--cor2);
    font-weight: bold;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}